<script type="text/x-handlebars" data-template-name="application">
  <h1>HEllo world!</h1>
  {{outlet}}
</script>



<script type="text/x-handlebars" data-template-name="task_lists">
  <p> Wowowwo its works: {{siteName}}</p>
  {{render 'newTaskList'}}
  {{#each}}
    <div class="wrapper">
      <p>{{name}}</p>
      <ul>
        {{#each task_ids}}
        <li>{{description}}</li>
        {{/each}}
        {{render 'newTask' this}}
      </ul>
    </div>
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="newTaskList">
  <form rol="newTaskListCreation">
    <p>{{input type="text" valueBinding="listName" placeholder="Put your list name"}}</p>
    <button type="submit" {{action 'createList'}}>Submit</button>
  </form>
</script>


<script type="text/x-handlebars" data-template-name="newTask">
  <form rel="newTaskCreation">
    <p>{{input type="text" valueBinding="taskName" placeholder="Your new task.."}}</p>
    <button type="submit" {{action 'createTask'}}>Submit</button>
  </form>
</script>
