<script type="text/x-handlebars" data-template-name="application">
  <h1>HEllo world!</h1>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="task_lists">
  <p> Wowowwo its works: {{siteName}}</p>
  <p>{{#link-to 'task_lists.new'}}new record{{/link-to}}</p>
  {{outlet}}
  {{#each }}
    <p>{{#link-to 'task_list' this}}{{name}}{{/link-to}}</p>
    {{ render 'tasks' this.task_ids}}
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="task_lists/new">
  <form rol="newTaskListCreation">
    <p>{{textarea valueBinding="model.name" placeholder="Put your list name"}}</p>
    <button type="submit" {{action 'createRecord'}}>Submit</button>
  </form>
</script>

<script type="text/x-handlebars" data-template-name="task_list">
  <p>{{name}}</p>
  {{ render 'tasks' this.task_ids }}
</script>

<script type="text/x-handlebars" data-template-name="tasks">
  <ul>
    {{#each task in this}}
  	  <li>{{#link-to 'task' task }}{{ task.description }}{{/link-to}}</li>
  	{{/each}}
  </ul>
</script>

 <script type="text/x-handlebars" data-template-name="task"> this is {{description}}</script>