<script type="text/x-handlebars" data-template-name="application">
  <h1>HEllo world!</h1>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="task_lists">
	<p> Wowowwo it's works: {{siteName}}</p>
	{{#each }}
	  {{name}}
	{{/each}}
</script>