<script type="text/x-handlebars" data-template-name="application">
  <h1>HEllo world!</h1>
  {{outlet}}
</script>



<script type="text/x-handlebars" data-template-name="task_lists">
  <p> Wowowwo its works: {{siteName}}</p>
  <p>{{#link-to 'task_lists.new'}}new record{{/link-to}}</p>
  {{outlet}}
  {{#each}}
    <div class="wrapper">
      <p>{{#link-to 'task_list' this}}{{name}}{{/link-to}}</p>
    </div>
  {{/each}}
  {{#each tasksFilteredArray}}
    <li>{{name}}</li>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="task_list">
  {{model.name}}
  {{#each model.task_ids}}
    <li>{{description}}</li>
  {{/each}}
  {{render 'newTask' model}}
</script>



<script type="text/x-handlebars" data-template-name="task_lists/new">
  <form rol="newTaskListCreation">
    <p>{{view Ember.TextField valueBinding="listName" placeholder="Put your list name"}}</p>
    <button type="submit" {{action 'createList'}}>Submit</button>
  </form>
</script>


<script type="text/x-handlebars" data-template-name="newTask">
  <form rel="newTaskCreation">
    <p>{{view Ember.TextField valueBinding="taskName" placeholder="Your new task.."}}</p>
    <button type="submit" {{action 'createTask'}}>Submit</button>
  </form>
</script>
