<script type="text/x-handlebars" data-template-name="application">
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {{#link-to 'task_lists' class="navbar-brand"}}TODO:{{/link-to}}
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="btn" {{action "openTaskListForm"}}>
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </li>
            </ul>
            {{render 'newTaskList'}}
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container main">
    {{outlet}}
  </div>
</script>



<script type="text/x-handlebars" data-template-name="task_lists">
  <div class="row">
    {{#each}}
      <div class="wrapper clearfix col-xs-12 col-sm-4 col-md-3">
        <p>{{name}} <a {{action "deleteTaskList" this}}><span class="glyphicon glyphicon-remove"></span></a></p>
        {{render 'tasks' task_ids}}
        <button class="center-block btn btn-primary openTask" {{action "openTaskForm" name}}>New Task</button>
        {{render 'newTask' this}}
      </div>
    {{/each}}
  </div>
</script>


<script type="text/x-handlebars" data-template-name="tasks">
  <ul>
    {{#each}}
      {{#if status}}
        <li class="crossed">
          <a {{action "select" this}}><span class="glyphicon glyphicon-ok"></span></a>
          {{description}}
          <a {{action "deleteTask" this}}><span class="glyphicon glyphicon-remove"></span></a>
        </li>
      {{else}}
        <li>
          <a {{action "select" this}}><span class="glyphicon glyphicon-ok"></span></a>
          {{description}}
          <a {{action "deleteTask" this}}><span class="glyphicon glyphicon-remove"></span></a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="newTaskList">
  <form rol="newTaskListCreation" class="taskListForm navbar-form navbar-right">
    <div class="form-group">
      {{input type="text" valueBinding="listName" class="form-control" placeholder="Put your list name"}}
    </div>
    <button type="submit" class="btn btn-default" {{action 'createList'}}>Submit</button>
  </form>
</script>


<script type="text/x-handlebars" data-template-name="newTask">
  <form rel="newTaskCreation" class="taskForm form-inline">
    <div class="form-group center-block">
      {{input type="text" valueBinding="taskName" placeholder="Your new task.."}}
      <button type="submit" {{action 'createTask'}} class="btn btn-success">Submit</button>
    </div>
  </form>
</script>
