<script type="text/x-handlebars" data-template-name="application">
  <h1>HEllo world!</h1>
  {{outlet}}
</script>



<script type="text/x-handlebars" data-template-name="task_lists">
  <p> Wowowwo its works: {{siteName}}</p>
      <a class="btn btn-warning" {{action "openTaskListForm"}}>
        Add new task list
      </a>
  {{render 'newTaskList'}}
  {{#each}}
    <div class="wrapper">
      <p>{{name}} <a {{action "deleteTaskList" this}}><span class="glyphicon glyphicon-remove"></span></a></p>
      <ul>
        {{#each task_ids}}
        <li>{{description}}<a {{action "deleteTask" this}}><span class="glyphicon glyphicon-remove"></span></a></li>
        {{/each}}
        <button class="btn" {{action "openTaskForm" name}}>New Task</button>
        {{render 'newTask' this}}
      </ul>
    </div>
  {{/each}}
</script>


<script type="text/x-handlebars" data-template-name="newTaskList">
  <form rol="newTaskListCreation" class="taskListForm">
    <p>{{input type="text" valueBinding="listName" placeholder="Put your list name"}}</p>
    <button type="submit" {{action 'createList'}}>Submit</button>
  </form>
</script>


<script type="text/x-handlebars" data-template-name="newTask">
  <form rel="newTaskCreation" class="taskForm">
    <p>{{input type="text" valueBinding="taskName" placeholder="Your new task.."}}</p>
    <button type="submit" {{action 'createTask'}}>Submit</button>
  </form>
</script>
